extends layout 
 
block content 
  h1= title 
 
  if (toShow == null) 
    h2 No instance to delete 
  else 
    - let waterid = toShow._id 
    - let water_type = toShow.types 
    - let watercapacity = toShow.capacity 
    - let watercost = toShow.cost 
    - let actionid = "/resource/resource/waters/" + waterid 
    script let actionid = "#{actionid}" 
    div 
      div.row 
        div(class='waterAttr mr-3') water ID is: 
        div #{waterid} 
      div.row 
        div(class='waterAttr mr-3') water Type is: 
        div #{water_type} 
      div.row 
        div(class='waterAttr mr-3') water Size is: 
        div #{watercapacity} 
      div.row 
        div(class='waterAttr mr-3') water Cost is: 
        div #{watercost} 
 
    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete 
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel 
 
  script. 
    function cancel() { 
      // Go back to the home page for the water collection 
      window.location.href='/waters' 
    } 
  script. 
    function deleteOnid() { 
      console.log("starting delete") 
      // delete first 
      fetch(actionid, { 
        method: 'DELETE'      
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Delete succeded") 
        window.location.href='/waters' 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Delete failed " + error ) 
      }); 
    } 