extends layout

block content
  h1= title
  - let createView = `dispatch(\"water/create\")`
  button.btn(class="btn-primary m1-2", onclick=createView) Create
  - let results = thewaters
  div(class="container-fuild")
    div(class="row")
      each item in results
       - let updateView = `dispatch(\"/water/update?id=${item._id}\")`
       - let detailView = `dispatch(\"/water/detail?id=${item._id}\")`
       - let deleteView = `dispatch(\"/water/delete?id=${item._id}\")`
        div(class="row-sm-2", class="m-1") Item is #{item.itemname} with price is #{item.price} and quantity is #{item.quantity} </br>
         button.btn(class="btn-primary ml-2", onclick= updateView) Update
         button.btn(class="btn-primary ml-2", onclick= detailView) Detail
         button.btn(class="btn-danger ml-2", onclick= deleteView) Delete

  script.
    function dispatch(path){
      window.location.href=path
    }